import(laeken)
import(stats)

importFrom(hypergeo, isgood, genhypergeo_series)
importFrom(numDeriv, grad)

export(
 dgb2,
 pgb2,
 qgb2,
 rgb2,
 moment.gb2,
 incompl.gb2,
 el.gb2,
 vl.gb2,
 sl.gb2,
 kl.gb2,
 arpt.gb2,
 arpr.gb2,
 rmpg.gb2,
 qsr.gb2,
 Thomae,
 gb2.gini,
 gini.gb2,
 gini.b2,
 gini.dag,
 gini.sm,
 main.gb2,
 main2.gb2,
 logf.gb2,
 dlogf.gb2,
 d2logf.gb2,
 loglp.gb2,
 loglh.gb2,
 scoresp.gb2,
 scoresh.gb2,
 info.gb2,
 prof.gb2,
 proflogl.gb2,
 profscores.gb2,
 fisk,
 fiskh,
 ml.gb2,
 mlh.gb2,
 profml.gb2,
 main.emp,
 mlfit.gb2,
 nlsfit.gb2,
 nlsfit2.gb2,
 plotsML.gb2,
 saveplot,
 contprof.gb2,
 contindic.gb2,
 varscore.gb2,
 vepar.gb2,
 derivind.gb2,
 veind.gb2
 )


